<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) + " | EmailHush" : "EmailHush" %></title>
	<%= stylesheet_link_tag    "application" %>
	<%= jquery_include_tag     :google %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>

	<%= analytics_init if Rails.env.production? %>

	<script type="text/javascript" src="//use.typekit.net/tcf7drb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<meta name="description" content="EmailHush lets you separate work from life. Create a filter for emails, and EmailHush will deliver them to you on your schedule.">
</head>

<body>
	<div class="wrapper">
		<div id="header">
			<div id="logo">
				<%= image_tag "logo1.png", :size => "900x193" %>
			</div>

			<div id="menu_bar" class="nav_bar">
			</div>

			<div id="menu_bar_top" class="nav_bar">
			</div>

			<div id="active_bar" class="nav_bar">
				<div class="width_container">
					<div id="nav_highlight"></div>
				</div>
			</div>

			<div id="nav_menu" class="nav_bar">
				<div class="width_container">
					<span id="mini_logo">
						<%= image_tag "logo2.png", :size => "151x45" %>
					</span>
					<ul class="left_menu">
						<li>
							<a href="/">Return Home</a>
						</li>
					</ul>

					<ul class="right_menu">
						<% if current_user %>
						<li>
							<a href="/signout"> Sign out</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>

		<div id="content">
			<%= yield %>
		</div>

		<%= render :template => 'footer/footer' %>
	</div>

</body>
</html>